/*************************
         GENERAL
 ************************/

body {
    font-family: 'PT Sans', sans-serif;
    background: linear-gradient(#6600CC, #CC0099, #99FF99);
    margin: 0;
    padding: 0 0 100px 0;
}

header {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    color: white;
}

h4 {
    color: #454545;
    padding-bottom: 1em;
}


/*************************
         PROFILE
 ************************/

.profile-photo {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
}

#profile {
    padding: 1em;
    text-align: center;
}

#portfolio {
    text-align: center;
    padding: 1em;
    background-color: white;
    margin: 1em;
}

#contact {
    text-align: center;
    display: block;
    float: none;
    clear: both;
    padding: 1em;
}

 #title {
    font-size: 1.25em;
    line-height: .75em;
 }

/*************************
    PORTFOLIO PICTURES
 ************************/

img {
    max-width: 100%;
    margin: auto;
    padding-top: 1em;
}

/*************************
        FOOTER
 ************************/

/***Sticky Footer***/
.site-footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    background-color: white;
    color: #454545;
    width: 100%;
    height: 60px;
    z-index: 1000;  
}

.site-footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}


.site-footer a {
    text-decoration: none;
    color: #454545;
}


/*************************
      MEDIA QUERIES
 ************************/
 
 @media only screen and (max-width: 768px) {
     .site-footer-2 {
         display: none;
     }
 }

@media only screen and (min-width: 768px) {
    
    .site-footer {
         display: none;
     }
    
    .site-footer-2 {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    background-color: white;
    color: #454545;
    width: 100%;
    height: 60px;
    z-index: 1000; 
}

.site-footer-2 ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.site-footer-2 p {
    display: flex;
    justify-content: flex-start;
}


}
