/*************************
         GENERAL
 ************************/
* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: linear-gradient(#6600CC, #CC0099, #99FF99);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0 0 100px 0;
}

header {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    color: white;
}

h4 {
    color: #454545;
    padding-bottom: 1em;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
}



/*************************
         NAVIGATION
 ************************/

.navbar ul {
 list-style: none;
 margin: 0 10px;
 padding: 0;
}

.navbar ul li {
   display: block;
   margin: 5px auto;
   padding: 10px 0;
}

.navbar a {
    font-weight: 800;
    padding: 1em;
    text-decoration: none;
    color: white;
}

/*************************
         PROFILE
 ************************/

.profile-photo {
    display: inline-flex;
    justify-content: center;
}

#profile {
    padding: 1em;
    text-align: center;
}

#portfolio {
    text-align: center;
    padding: 1em;
    background-color: white;
    margin: 1em;
}

#contact {
    text-align: center;
    display: block;
    float: none;
    clear: both;
    padding: 1em;
    margin-bottom: 100px;
}


/*************************
    PORTFOLIO PICTURES
 ************************/

img {
    max-width: 100%;
    margin: auto;
    padding-top: 1em;
}

/*************************
        FOOTER
 ************************/
.site-footer, .page-wrap:after {
    height: 50px;
}

.site-footer,
.site-footer-2 {
    background-color: white;
    color: #454545;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.site-footer ul,
.site-footer-2 ul {
    display: table-row;
    list-style: none;
}

.site-footer ul li,
.site-footer-2 ul li {
    display: table-cell;
    list-style-type: none;
}

.site-footer a,
.site-footer-2 a {
    display: table-cell;
    text-decoration: none;
}
  
 .site-footer-2 a {
     text-decoration: none;
 }
  



@media only screen and (min-width: 768px) {
    img {
      max-width: 200px;
      float: left;
      clear: both;
    }
}

